<%layout("layouts/boilerplate.ejs") %>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-places" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="main-car1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="main-car2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="main-tt4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

<div class="BtoM">

    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>
    
    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>
    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>
    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>

    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>
   
    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>

    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>
    
    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="BtoM">
    <h2> Bangalore to 1 day mysore sightseeing tour package</h2>

    <div class="sighting-places">
        <div class="sighting-details">
            <h3>Mysore Sighting Places</h3>
        <ul>
            <li>Sri Ranganatha Swamy Temple</li>
            <li>Tippu Summer Palace</li>
            <li>Srirangapatna Fort</li>
            <li>Gumbaz</li>
            <li>Chamundi Hills</li>
            <li>Statue Of Mahishasura And Nandi</li>
            <li>Mysore Zoo  (closed all Tuesday)</li>
            <li>Mysore Maharaja Palace</li>
            <li>St philomena Church</li>
            <li>Brindavan Garden (KRS DAM)</li>
        </ul>
        </div>
        <div class="sighting-places-including">
            <h3>Including</h3>
            <ul>
                <li>One Day Selected Cab for Sightseeing with 6am to 11.30pm Hrs Limit
                </li>
                <li>All Sightseeing Transfers as per the Itinerary
                </li>
                <li>Pickup and Drop from Bangalore Hotel / Railway Station / Bus Stand / Bangalore City
                </li>
                <li>Vehicle Parking Charges
                </li>
                <li>Driver Batta
                </li>
                <li>Toll Gate Charges
                </li>
                <li>Inclusive of all applicable taxes 
                </li>
                <li>For Booking Pay 1000/- Advance 
                </li>
                <li>google pay & phone pay no 8618837686 
                </li>
                <li>payment link 
                </li>
                <li>Mask compulsory
                </li>
                <li>Maintain social distancing in Visiting places
                </li>
            </ul>
        </div>
        <div class="sighting-places-notincluding">
            <h3>Not Including</h3>
            <ul>
                <li>Any Meals</li>
                <li>Any Entry tickets fees</li>
                <li>Extra charges</li>
            </ul>
        </div>
    </div>
</div>