<%layout("/layouts/boilerplate.ejs") %>

<div class="cardDetails-container" id="ETIOS">
    <div class="leftContainer">
     <img src="main-car11.webp" alt="">
     <div class="details">
       <h5>ETIOS DZIRE VERITO</h5>
       <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
       </p>
     </div>
    </div>
     <div class="rightContainer">
         <ul>
             <li> Usual Driver bata timings are from 6 AM to 10PM. <span>If the driver drives after 10PM and before 6AM then there would be an extra driver bata </span></li>
             <li> Distance is calculated from Office to Office.</li>
             <li> Driver allowance will take care of his food and shelter.</li>
             <li> One day means one calendar day (from midnight 12 to midnight 12). 300rs</li>
             <li> The final amount will depend on actual traveled distance and days. <span>There is NO GST as of now.</span></li>
             <li> State Permit, Parking and Toll charges will be extra, and advised to get the information from us.</li>
             <li><span>Tamil Nadu 500rs</span> <span>Kerala 1000rs</span> <span>Puducherry 1200rs</span> <span>Andhra Pradesh 500rs</span> <span> Goa 2500rs</span>
                 <span>Maharashtra 2500rs </span> <span>Telangana 1500rs</span></li>
         </ul>

         <button>Call us</button>
     </div>
</div>

<div class="cardDetails-container" id="ETIOS">
    <div class="leftContainer">
     <img src="main-car2.webp" alt="" >
     <div class="details">
       <h5>ETIOS DZIRE VERITO</h5>
       <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
       </p>
     </div>
    </div>
     <div class="rightContainer">
         <ul>
             <li> Usual Driver bata timings are from 6 AM to 10PM. <span>If the driver drives after 10PM and before 6AM then there would be an extra driver bata </span></li>
             <li> Distance is calculated from Office to Office.</li>
             <li> Driver allowance will take care of his food and shelter.</li>
             <li> One day means one calendar day (from midnight 12 to midnight 12). 300rs</li>
             <li> The final amount will depend on actual traveled distance and days. <span>There is NO GST as of now.</span></li>
             <li> State Permit, Parking and Toll charges will be extra, and advised to get the information from us.</li>
             <li><span>Tamil Nadu 500rs</span> <span>Kerala 1000rs</span> <span>Puducherry 1200rs</span> <span>Andhra Pradesh 500rs</span> <span> Goa 2500rs</span>
                 <span>Maharashtra 2500rs </span> <span>Telangana 1500rs</span></li>
         </ul>

         <button>Call us</button>
     </div>
</div>

<div class="cardDetails-container" id="ETIOS">
    <div class="leftContainer">
     <img src="main-tt3.jpeg" alt="">
     <div class="details">
       <h5>ETIOS DZIRE VERITO</h5>
       <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
       </p>
     </div>
    </div>
     <div class="rightContainer">
         <ul>
             <li> Usual Driver bata timings are from 6 AM to 10PM. <span>If the driver drives after 10PM and before 6AM then there would be an extra driver bata </span></li>
             <li> Distance is calculated from Office to Office.</li>
             <li> Driver allowance will take care of his food and shelter.</li>
             <li> One day means one calendar day (from midnight 12 to midnight 12). 300rs</li>
             <li> The final amount will depend on actual traveled distance and days. <span>There is NO GST as of now.</span></li>
             <li> State Permit, Parking and Toll charges will be extra, and advised to get the information from us.</li>
             <li><span>Tamil Nadu 500rs</span> <span>Kerala 1000rs</span> <span>Puducherry 1200rs</span> <span>Andhra Pradesh 500rs</span> <span> Goa 2500rs</span>
                 <span>Maharashtra 2500rs </span> <span>Telangana 1500rs</span></li>
         </ul>

         <button>Call us</button>
     </div>
</div>

<div class="cardDetails-container" id="ETIOS">
    <div class="leftContainer">
     <img src="main-tt4.jpg" alt="">
     <div class="details">
       <h5>ETIOS DZIRE VERITO</h5>
       <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
       </p>
     </div>
    </div>
     <div class="rightContainer">
         <ul>
             <li> Usual Driver bata timings are from 6 AM to 10PM. <span>If the driver drives after 10PM and before 6AM then there would be an extra driver bata </span></li>
             <li> Distance is calculated from Office to Office.</li>
             <li> Driver allowance will take care of his food and shelter.</li>
             <li> One day means one calendar day (from midnight 12 to midnight 12). 300rs</li>
             <li> The final amount will depend on actual traveled distance and days. <span>There is NO GST as of now.</span></li>
             <li> State Permit, Parking and Toll charges will be extra, and advised to get the information from us.</li>
             <li><span>Tamil Nadu 500rs</span> <span>Kerala 1000rs</span> <span>Puducherry 1200rs</span> <span>Andhra Pradesh 500rs</span> <span> Goa 2500rs</span>
                 <span>Maharashtra 2500rs </span> <span>Telangana 1500rs</span></li>
         </ul>

         <button>Call us</button>
     </div>
</div>

<div class="cardDetails-container" id="ETIOS">
    <div class="leftContainer">
     <img src="main-bus5.jpg" alt="">
     <div class="details">
       <h5>ETIOS DZIRE VERITO</h5>
       <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
       </p>
     </div>
    </div>
     <div class="rightContainer">
         <ul>
             <li> Usual Driver bata timings are from 6 AM to 10PM. <span>If the driver drives after 10PM and before 6AM then there would be an extra driver bata </span></li>
             <li> Distance is calculated from Office to Office.</li>
             <li> Driver allowance will take care of his food and shelter.</li>
             <li> One day means one calendar day (from midnight 12 to midnight 12). 300rs</li>
             <li> The final amount will depend on actual traveled distance and days. <span>There is NO GST as of now.</span></li>
             <li> State Permit, Parking and Toll charges will be extra, and advised to get the information from us.</li>
             <li><span>Tamil Nadu 500rs</span> <span>Kerala 1000rs</span> <span>Puducherry 1200rs</span> <span>Andhra Pradesh 500rs</span> <span> Goa 2500rs</span>
                 <span>Maharashtra 2500rs </span> <span>Telangana 1500rs</span></li>
         </ul>

         <button>Call us</button>
     </div>
</div>

<div class="cardDetails-container" id="ETIOS">
    <div class="leftContainer">
     <img src="min-bus6.webp" alt="">
     <div class="details">
       <h5>ETIOS DZIRE VERITO</h5>
       <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
       </p>
     </div>
    </div>
     <div class="rightContainer">
         <ul>
             <li> Usual Driver bata timings are from 6 AM to 10PM. <span>If the driver drives after 10PM and before 6AM then there would be an extra driver bata </span></li>
             <li> Distance is calculated from Office to Office.</li>
             <li> Driver allowance will take care of his food and shelter.</li>
             <li> One day means one calendar day (from midnight 12 to midnight 12). 300rs</li>
             <li> The final amount will depend on actual traveled distance and days. <span>There is NO GST as of now.</span></li>
             <li> State Permit, Parking and Toll charges will be extra, and advised to get the information from us.</li>
             <li><span>Tamil Nadu 500rs</span> <span>Kerala 1000rs</span> <span>Puducherry 1200rs</span> <span>Andhra Pradesh 500rs</span> <span> Goa 2500rs</span>
                 <span>Maharashtra 2500rs </span> <span>Telangana 1500rs</span></li>
         </ul>

         <button>Call us</button>
     </div>
</div>

