<% layout("/layouts/boilerplate") -%>
              
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="car1.avif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="carimg2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="carimg5-removebg-preview.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

        <main>
          <div class="bg-img-conatainer">
            <div class="overlay">
          <div class="main-card-section">
            <h2 class="main-heading">OUTSTATION CABS FROM BANGALORE</h2>

            <div class="cabs-details-container">
              <div class="card" onclick="navigateToDetails('car1')">
                    <img src="main-car11.webp" alt="">
                    <div class="details">
                      <h5>ETIOS DZIRE VERITO</h5>
                      <p>PER KM 12Rs <br> PER DAY 250KM 6AM TO 10PM DRIVER BATTA 300Rs
                      </p>
                    </div>
                    <a href="/cabDetails"><button>See Details</button></a>
              </div>
  
              <div class="card" onclick="navigateToDetails('car2')">
                  <img src="main-car2.webp" alt="">
                  <div class="details">
                    <h5>INNOVA ERITIGA </h5>
                    <p>PER KM 16&17Rs <br> PER DAY 300KM 6AM TO 10PM DRIVER BATTA 500Rs</p>
                  </div>
                  <a href="/cabDetails"><button>See Details</button></a>
              </div>
  
              <div class="card" onclick="navigateToDetails('car3')">
                <img src="main-tt3.jpeg" alt="">
                <div class="details">
                  <h5>8 TO 13+1SEATER</h5>
                  <p>PER KM 18Rs and AC <br> PER KM 20Rs PER DAY 300KM 6AM TO 10PM DRIVER BATTA 500Rs</p>
                </div>
                <a href="/cabDetails"><button>See Details</button></a>
              </div>

              <div class="card" onclick="navigateToDetails('car4')">
                <img src="main-tt4.jpg" alt="">
                <div class="details">
                  <h5>14 TO 17+1SEATER </h5>
                  <p>PER KM 26Rs and AC PER KM 28Rs PER DAY 300KM 6AM TO 10PM DRIVER BATTA 600Rs</p>
                </div>
                <a href="/cabDetails"><button>See Details</button></a>
              </div>

              <div class="card" onclick="navigateToDetails('car5')">
                <img src="main-bus5.jpg" alt="">
                <div class="details">
                  <h5>18 TO 21+1SEATER</h5>
                  <p>PER KM 30Rs AC PER KM 35Rs PER DAY 300KM 6AM TO 10PM DRIVER BATTA 600Rs</p>
                </div>
                <a href="/cabDetails"><button>See Details</button></a>
              </div>

              <div class="card" onclick="navigateToDetails('car6')">
                <img src="min-bus6.webp" alt="">
                <div class="details">
                  <h5>22 TO 25+1SEATER</h5>
                  <p>PER KM 36Rs AC PER KM 40Rs <br>PER DAY 300KM 6AM TO 10PM DRIVER BATTA 700Rs</p>
                </div>
                <a href="/cabDetails"><button>See Details</button></a>
              </div>
            </div>
          </div>

          <div class="about-us" id="about-us">
            <h1>About Us</h1>
            <div class="info">
              <h4>Office <br> Go Cabs Tours and Travels
                <br> # 1618 Kogilu Main Road Maruthinagar Yelahanaka Bangalore 560064
                <br>Contact no 24/7</h4>
            </div>
            <div class="account-details">
              <h3>Account Details</h3>
                <h5>Account Transfer <br>

                  Name - Go Cabs <br>
                  
                  Current account no - 50200074434805 <br>
                  
                  Ifsc code - HDFC0004082 <br>
                  
                  OR <br>
                  
                  Phone pay & Google pay no 8618837686 - 8088994476</h5>
            </div>
          </div>

              <div class="main-call-section" id="contact-us">
                <h2>Go Cabs Tours and Travels(R) <br>
                  Outstation Cabs From Bangalore & Tour Packages
                </h2>
                <h4>Contact Us 24/7 8618837686 8088994476</h4>
                <button>-GET IN TOUCH-</button>
              </div>
  
            <!-- <div class="famous-destination">
                <h2>Famous Destinations from Bangalore <br> <span>Bangalore to</span> </h2>
                <div class="places">
                  <h4>Ooty</h4>
                  <h4>Coorg</h4>
                  <h4>Mysore</h4>
                  <h4>Tirupathi</h4>
                  <h4>Chimagalur</h4>
                  <h4>Nandihills</h4>
                  <h4>Pondicherry</h4>
                  <h4>Kodaikanal</h4>
                  <h4>Gokarna</h4>
                  <h4>Wayanad</h4>
                  <h4>Coimbatore</h4>
                  <h4>Hogenakkal</h4>
                  <h4>Sakleshpur</h4>
                  <h4>Goravanahalli</h4>
                  <h4>Sakleshpur</h4>
                  <h4>Goravanahalli</h4>
                  <h4>Sakleshpur</h4>
                  <h4>Goravanahalli</h4>
                  <h4>Sakleshpur</h4>
                  <h4>Goravanahalli</h4>
                  <h4>Sakleshpur</h4>
                  <h4>Goravanahalli</h4>
                  <h4>Sakleshpur</h4>
                  <h4>Goravanahalli</h4>
                
                </div>
            </div> -->
  
            <div class="address-container">
                <div class="inner-address-container">
                  <div class="address">
                    <h2>75 Tour Packages  <br> Call 8618837686 8088994476</h2>
                    <h3>GO CABS TOUR PACKAGES</h3>
                    <p><span>BANGALORE</span> <span>NANDIHILLS</span> <span>LEPAKSHI</span> <span>YERCURD</span> <span>HOGENAKKAL</span> <span>MADHURAI</span> <span>RAMESWARAM</span> <span>KANYAKUMARI</span> <span>MUNNAR</span>  <span>MYSORE</span> <span>OOTY</span> <span>COORG</span> <span>KODAIKENAL</span> <span>HORANADU</span> <span>SRIGERI</span> <span>SIGADUR</span> <span>JOGFALLS</span> <span>UDUPI</span> <span>DHRAMASTALA</span> <span>GOKARNA</span> <span>MURDESWARA</span> <span>DANDELI</span> <span>PONDICHERRY</span> <span>KUKKE</span> <span>GOA</span> <span>TIRUPATHI</span> <span>SAKLESHPURA </span> <span>SAKLESHPURA </span> <span>CHIKMAGALUR</span> OTHER CITIS </p>
                  </div>
                  <div class="outstation">
                    <h3>OUTSTATION CABS FROM BANGALORE TO </h3>
                    <p><span>TAMILNADU</span> <span>PONDICHERRY</span> <span>KERALA</span> <span>GOA</span> <span>ANDHRAPRADESH</span> <span>TELAGANA</span> </p>
                  </div>
                </div>
              <!-- <img src="shiva.jpg" alt=""> -->
            </div>

            <div class="Book-cab-container">
              <h1>Book a Cab for your dream place</h1>
              <div class="place-list-to-book">
                <div class="place-list-1">
                  <a href="#">Book a Cab from Banglore to Nandihills</a>
                  <a href="#">Book a Cab from Banglore to LEPAKSHI</a>
                  <a href="#">Book a Cab from Banglore to YERCURD</a>
                  <a href="#">Book a Cab from Banglore to HOGENAKKAL</a>
                  <a href="#">Book a Cab from Banglore to MADHURAI</a>
                  <a href="#">Book a Cab from Banglore to RAMESWARAM</a>
                  <a href="#">Book a Cab from Banglore to KANYAKUMARI</a>
                  <a href="#">Book a Cab from Banglore to MUNNAR</a>
                  <a href="#">Book a Cab from Banglore to MYSORE</a>
                  <a href="#">Book a Cab from Banglore to OOTY</a>
                  <a href="#">Book a Cab from Banglore to CHIKMAGALUR</a>
                  <a href="#">Book a Cab from Banglore to COORG</a>
                  <a href="#">Book a Cab from Banglore to KODAIKENAL</a>
                </div>
                <div class="place-list-2">
                  <a href="#">Book a Cab from Banglore to HORANADU</a>
                  <a href="#">Book a Cab from Banglore to MADHURAI</a>
                  <a href="#">Book a Cab from Banglore to SRIGERI</a>
                  <a href="#">Book a Cab from Banglore to SIGADUR</a>
                  <a href="#">Book a Cab from Banglore to JOGFALLS</a>
                  <a href="#">Book a Cab from Banglore to MYSORE</a>
                  <a href="#">Book a Cab from Banglore to UDUPI</a>
                  <a href="#">Book a Cab from Banglore to DHRAMASTALA</a>
                  <a href="#">Book a Cab from Banglore to GOKARNA</a>
                  <a href="#">Book a Cab from Banglore to MURDESWARA</a>
                  <a href="#">Book a Cab from Banglore to DANDELI</a>
                  <a href="#">Book a Cab from Banglore to KUKKE</a>
                  <a href="#">Book a Cab from Banglore to CHIKMAGALUR</a>
                </div>
              </div>

              <div class="outaion-cab-booking">
                <h1>Book Outstation Cab</h1>
                <div class="place-list-to-book">
                  <div class="place-list-1">
                    <a href="#">Book a Cab from Banglore to OOTY  </a>
                    <a href="#">Book a Cab from Banglore to TIRUPATHI</a>
                    <a href="#">Book a Cab from Banglore to COIMBATORE</a>
                    <a href="#">Book a Cab from Banglore to CHENNAI</a>
                    <a href="#">Book a Cab from Banglore to HYDERABAD</a>
                    <a href="#">Book a Cab from Banglore to WAYANAD</a>
                    <a href="#">Book a Cab from Banglore to YERCURD</a>
                    <a href="#">Book a Cab from Banglore to CHINTAMANI</a>
                    <a href="#">Book a Cab from Banglore to GULBARGA</a>
                    <a href="#">Book a Cab from Banglore to GOA</a>
                    <a href="#">Book a Cab from Banglore to PENUKODA</a>
                    <a href="#">Book a Cab from Banglore to TIRUVANANAMALAI</a>
                    <a href="#">Book a Cab from Banglore to PALANI</a>
                  </div>
                  <div class="place-list-2">
                    <a href="#">Book a Cab from Banglore to HORANADU</a>
                    <a href="#">Book a Cab from Banglore to MADHURAI</a>
                    <a href="#">Book a Cab from Banglore to SRIGERI</a>
                    <a href="#">Book a Cab from Banglore to SIGADUR</a>
                    <a href="#">Book a Cab from Banglore to JOGFALLS</a>
                    <a href="#">Book a Cab from Banglore to MYSORE</a>
                    <a href="#">Book a Cab from Banglore to UDUPI</a>
                    <a href="#">Book a Cab from Banglore to DHRAMASTALA</a>
                    <a href="#">Book a Cab from Banglore to GOKARNA</a>
                    <a href="#">Book a Cab from Banglore to MURDESWARA</a>
                    <a href="#">Book a Cab from Banglore to DANDELI</a>
                    <a href="#">Book a Cab from Banglore to KUKKE</a>
                    <a href="#">Book a Cab from Banglore to CHIKMAGALUR</a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="customer-related-lines">
              <img src="address-section-img.avif" alt="">
                <div class="side1">
                  <h2>Better yet, see us in person!</h2>
                  <p>We love our customers, so feel free to visit during normal business 24/7 hours.</p>
                  <button><i class="fa-brands fa-whatsapp"></i>Message on Whatsapp</button>
                  <h2>Outstation Cabs & Airport Pickup & drop & Local</h2>
                  <p>1516, Kogilu Main Road, Maruthi Nagar, Yelahanka, Bengaluru, Karnataka, India &nbsp; &nbsp; 8618837686 / 8088994476</p>  
                </div>
            </div>
            </div>

        </div>

        </main>

    </div>

    <script>
      function navigateToDetails(carId) {
        // Redirect to cabDetails page with the car's ID as a query parameter
        window.location.href = `/cabDetails?car=${carId}`;
      }
    </script>


