<% layout("/layouts/boilerplate") -%>

<div class="signup-container">
    <h2>Sign Up</h2>

    <!-- Signup form -->
    <form action="/signup" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a></p>
</div>
